<%= render 'header' %>

<div class="container">
  <h1 class="page-header">Results</h1>

  <%= render 'form' %>

  <br />

  <div class="row thumbs">
    <% @results.each do |p| %>
        <div class="col-xs-6 col-md-3">
          <a href="<%= p.url_c %>" class="thumbnail">
            <%= image_tag p.url_q %>
          </a>
        </div>
    <% end %>
  </div>

  <% if @results.any? %>
  <%= will_paginate @results %>
  <% end %>
</div>